+b.feedback
  +e.row
    +e.item
      +e('p').item-title Написать нам
      +e.item-data
        a(href="mailto:ya.ru") на E-mail

    +e.item
      +e('p').item-title Написать нам
      +e.item-data
        a(href="vk.com" target="_blank") ВКонтакте

    +e.item
      +e('p').item-title Позвонить нам
      +e.item-data
        a(href="tel:89514881035") +7 (951) 488-10-35
