+b('header').header
    .container
      +e.row
        +e('a')(href="/").logo
          +e('span').logo-overimg
            +e('img')(src="static/img/logo.png").logo-img
          +e('span').logo-title Для активных детей и заботливых родителей

        +b('nav').nav
          +e('button').burger.js-burger
            span
              i

          +e('ul').list
            +e('li').list-item
              +e('a')(href="#").list-href Услуги
            +e('li').list-item
              +e('a')(href="#").list-href О нас
            +e('li').list-item
              +e('a')(href="#").list-href Наши новости
            +e('li').list-item
              +e('a')(href="#").list-href Контакты

          +b.decor.--mobile
            +e('span')(data-maxRound="9").item--n1
            +e('span')(data-maxRound="13").item.--n2
            +e('span')(data-maxRound="8").item.--n3
            +e('span')(data-maxRound="12").item.--n4
            +e('span')(data-maxRound="16").item.--n5

        +e('address').address Мы находимся
          span Копейск, пр.Победы, 17А
          
