@import 'blocks/_animation.styl'

@import 'blocks/_extends.styl'
@import 'blocks/_default.styl'
@import 'blocks/_common.styl'
@import 'blocks/_buttons.styl'
@import 'blocks/_decor.styl'
@import 'blocks/_main.styl'
@import 'blocks/_header.styl'
@import 'blocks/_footer.styl'
@import 'blocks/_nav.styl'
@import 'blocks/_breads.styl'
@import 'blocks/_ihead.styl'
@import 'blocks/_iserv.styl'
@import 'blocks/_igall.styl'
@import 'blocks/_inews.styl'
@import 'blocks/_publ.styl'
@import 'blocks/_contacts.styl'
@import 'blocks/_social.styl'
@import 'blocks/_services.styl'
@import 'blocks/_feedback.styl'
@import 'blocks/_price-table.styl'
@import 'blocks/_nice.styl'
@import 'blocks/_info.styl'
