$mPortrait = '(min-width:320px)'
$mPortraitMax = '(max-width:479px)'
$mLandscapeMax = '(max-width:767px)'
$tPortraitMax = '(max-width:991px)'
$tLandscape = '(min-width:992px)'
$tLandscapeMax = '(max-width:1239px)'
$desktopMax = '(max-width:1439px)'
$desktop = '(min-width:1440px)'

$baseFontFamily ='Fregat', sans-serif
$baseFontSize = 15px
$baseLineHeight = 24px
$baseFontWeight = 400

$color = #333
