include includes/bemto/bemto.pug

doctype html
html(lang="ru")
  - var title = "Земляника"
  include includes/__head

  style(type='text/css').
    .page-list{
      display: inline-block;
      vertical-align: top;
      width: 48%;
      margin: 30px 0 0 !important;
    }
    .page-list-item{
      margin: 0 0 7px !important;
    }
    .page-list-item:before{
      display: none;
      content: none;
    }
    .page-list-item a {
      font-size: 18px !important;
      line-height: 24px !important;
    }

  body
    .wrapper.wrapper--inside
      +b.decor.js-decor
        +e('span')(data-maxRound="9").item--n1
        +e('span')(data-maxRound="13").item.--n2
        +e('span')(data-maxRound="8").item.--n3
        +e('span')(data-maxRound="12").item.--n4
        +e('span')(data-maxRound="16").item.--n5
        
      +b('header').header
        .container
          +e.row
            +e('a')(href="/").logo
              +e('span').logo-overimg
                +e('img')(src="static/img/logo.png").logo-img
              +e('span').logo-title Для активных детей и заботливых родителей

      main.main
        .main__content
          .container
            .text
              ul.page-list(style="display:inline-block;vertical-align:top;width:45%;margin-right:35px;")
                li.page-list-item
                  a(target="_blank" href="main.html") Главная
                li.page-list-item
                  a(target="_blank" href="inside_default-page.html") Типовая
                li.page-list-item
                  a(target="_blank" href="inside_news.html") Новости
                li.page-list-item
                  a(target="_blank" href="inside_news-page.html") Новость - внутренняя
                li.page-list-item
                  a(target="_blank" href="inside_services.html") Услуги - День рождения
                li.page-list-item
                  a(target="_blank" href="inside_services-room.html") Услуги - Посещение игровой комнаты
                li.page-list-item
                  a(target="_blank" href="inside_services-seminar.html") Услуги - Семинары для мам
                li.page-list-item
                  a(target="_blank" href="inside_contacts.html") Контакты

      script(type="text/javascript" src="static/js/vendor.js")
      script(type="text/javascript" src="static/js/own.js")
