include includes/bemto/bemto.pug
include includes/__mixins.pug

doctype html
html(lang="ru")
  - var title = "Будни в «Землянике» для детей и взрослых"
  include includes/__head

  body
    .wrapper.wrapper--inside
      +b.decor.js-decor
        +e('span')(data-maxRound="13").item.--n2
        +e('span')(data-maxRound="8").item.--n3
        +e('span')(data-maxRound="12").item.--n4
        
      include includes/__header

      main.main
        .main__content
          .container.container--min

            +breads([
              { name: 'Главная' }
            ])

            h1.main__title Семинары для будущих и настоящих мам

            .text
              p На этой странице вы всегда найдёте актуальную информацию о семинарах в «Землянике». В обязательном порядке и на постоянной основе мы решили поддерживать следующие темы.

          +b('section').services.--offer
            .container
              +e.wrap.js-scroll-anim
                +e.row
                  +services-item([
                    {
                      dopClass: '--vert-mirror',
                      img: 'static/img/serv-ico6.png',
                      title: 'Грудное вскармливание',
                      data: '<p>Чтобы с первого дня жизни дать своему малышу лучшее в мире питание. Чтобы уверенно преодолеть возможные трудности. И да! – Чтобы жить полной жизнью и получать удовольствие от кормления грудью.</p>',
                      course: {
                        title: 'Ближайший курс',
                        date: '8-9 марта 2019 года'
                      }
                    },
                    {
                      dopClass: '--vert-mirror',
                      img: 'static/img/serv-ico7.png',
                      title: 'Подготовка<br>к родам',
                      data: '<p>Чтобы без страха. Чтобы без лишней боли и неоправданных рисков. Чтобы на роды, как на экзамен по любимому предмету – просто не будет, но с полным багажом знаний и уверенностью в своих силах.</p>',
                      course: {
                        title: 'Ближайший курс',
                        date: '9 марта 2019 года'
                      }
                    },
                    {
                      dopClass: '--vert-mirror',
                      img: 'static/img/serv-ico8.png',
                      title: 'Партнёрские<br>роды',
                      data: '<p>Чтобы, едва появившись на свет, ваш малыш увидел не только любимую мамочку, но и плачущего от счастья (почти наверняка) папу. Чтобы папа при этом был помощником. И не испытал большего стресса, чем мама.</p>',
                      course: {
                        title: 'Ближайший курс',
                        date: '10 марта 2019 года'
                      }
                    }
                  ])
              
              +e.warning.js-scroll-anim
                +e.warning-overico
                  +e('img')(src="static/img/warning-ico.png" alt="").warning-ico

                +e.warning-text
                  .text
                    p Наш курс по грудному вскармливанию не только для молодых и первородящих мам. Но также для всех, у кого ранее было короткое кормление грудью (до 6 месяцев), смешанное или искусственное вскармливание, для тех, кто считает себя представительницей «безмолочной породы» и так далее. Приходите обязательно!
                
              +e.conducts.js-scroll-anim
                +e('h3').conducts-title Курсы проводит
                +e.conducts-row
                  +e.conducts-overimg
                    +e('img')(src="static/img/lead.jpg" alt="").conducts-img

                  +e.conducts-info
                    .text
                      p(style="color: #5f5f5f; font-size: 18px; font-weight: 700;") Людмила Олеговна Коробченко
                      
                      ul
                        li Практикующий акушер-гинеколог, врач ультразвуковой диагностики
                        li Заведующая и собственник медицинского центра «Ты и Я» в Челябинске
                        li Консультант по грудному вскармливанию
                        li Более 20 лет в профессии
                      
                      p А ещё Людмила Олеговна – просто большой профессионал, искренне любящий свою работу, и мама троих детей, готовая делиться, в том числе, и личным опытом. Знания, которые она даёт на своих семинарах – бесценны. Её поддержка и психологический настрой – колоссальный вклад в успешные роды и налаживание грудного вскармливания. И это уже неоднократно подтверждённый факт. 

              +e.wrap.js-scroll-anim
                +e('h3').wrap-title.title Программы и стоимость
                +e.row
                  +services-item([
                    {
                      img: 'static/img/serv-ico6.png',
                      title: 'Грудное вскармливание',
                      data: '<ul><li>Вы будете точно знать, как наладить ГВ с первых дней жизни малыша</li><li>Научитесь прикладыванию к груди, чтобы это было комфортно для вас обоих</li><li>Вы будете готовы к кризам, лактостазу и не создадите из этого проблемы</li><li>Вы будете жить полноценной жизнью, получая максимум преимуществ от ГВ</li></ul><p>Курс из 2 встреч по 2 часа</p>',
                      course: {
                        title: 'Ближайший курс',
                        date: '8-9 марта 2019 года'
                      },
                      price: {
                        number: '2000',
                        color: '--yellow'
                      },
                    },
                    {
                      img: 'static/img/serv-ico7.png',
                      title: 'Подготовка<br>к родам',
                      data: '<ul><li>Вы научитесь распознавать ложные и настоящие схватки</li><li>Будете точно знать, когда ехать в роддом и как себя там вести</li><li>Научитесь специальным упражнениям для уменьшения болей при схватках</li><li>Будете понимать, что с вами происходит, и отчасти контролировать процесс</li><li>Вы не допустите лишних рисков для себя и ребёнка</li></ul><p>Семинар длится 3 часа</p>',
                      course: {
                        title: 'Ближайший курс',
                        date: '9 марта 2019 года'
                      },
                      price: {
                        number: '1500',
                        color: '--green'
                      }
                    },
                    {
                      img: 'static/img/serv-ico8.png',
                      title: 'Партнёрские<br>роды',
                      data: '<ul><li>В этом курсе будет всё то же, что на классической «Подготовке к родам»</li><li>Но здесь мы будем работать с парой и подготовим ещё и будущего папу</li><li>Доступно и конкретно объясним, что его ждёт, в чём его роль и как себя вести</li><li>Научим массажу для облегчения схваток у будущей мамы</li><li>Расскажем обо всех формальностях в связи с партнёрскими родами</li></ul><p>Семинар длится 3 часа</p>',
                      course: {
                        title: 'Ближайший курс',
                        date: '10 марта 2019 года'
                      },
                      price: {
                        number: '1500',
                        warn: 'с пары',
                        color: '--red'
                      }
                    }
                  ])
              
              +e.warning.--sert.js-scroll-anim
                +e.warning-overico
                  +e('img')(src="static/img/warning-ico2.png" alt="").warning-ico

                +e.warning-text
                  .text
                    p А если маленькое чудо растёт в животике вашего близкого человека – мы с удовольствием оформим красивый подарочный сертификат. Обращайтесь.

          .container.container--min
            +b.info.js-scroll-anim
              +e.wrap
                +e('h3').title.title Бонусы и приятности
                +e.content
                  .text
                    ul
                      li Во-первых, милые девушки, наши семинары – это не лекция или школьный урок. У нас уютно. У нас чай и полезные вкусняшки. У нас – доверительная беседа.
                      li Во-вторых, если у вас уже есть дети, берите старших с собой. Поверьте, им будет, чем заняться! К тому же это будет абсолютно бесплатно.
                      li В-третьих – и этого вы уж точно не ждали! – всем участницам семинара в подарок аквагрим на животике и фото!

            .common-wrap.js-scroll-anim
              .text
                p(style="margin-top: 140px;") И главное. Будьте уверены – посетив любой из наших семинаров, вы ещё не раз скажете себе: «Какая же я молодец, что сходила на семинар к Людмиле Олеговне!» Не сомневайтесь, так и будет. Проверено на себе.
              
            include includes/__feedback

      include includes/__footer




