include includes/bemto/bemto.pug
include includes/__mixins.pug

doctype html
html(lang="ru")
  - var title = "Будни в «Землянике» для детей и взрослых"
  include includes/__head

  body
    .wrapper.wrapper--inside
      include includes/__header

      main.main
        .main__content
          .container.container--min

            +breads([
              { name: 'Главная' }
            ])

            h1.main__title Будни в «Землянике» для детей и взрослых

            .text
              p Таким заголовком мы, конечно, не призываем вас, дорогие родители, пускаться в игры и лазание по детскому лабиринту. Да и не об этом вы мечтаете, приходя с ребенком в игровую комнату. Скорее, наоборот – вы справедливо рассчитываете на минуты покоя. Ведь так?

              p И как же это чудесно, когда ребёнок счастлив и занят игрой, не требуя вашего активного участия! Нам тоже знакомо это чувство. Поэтому наряду с насыщенным игровым пространством для ваших деток, мы постарались создать максимально уютную зону отдыха для вас, дорогие родители.

          +b('section').services.--weekdays
            .container
              +e.wrap
                +e.row
                  +services-item([
                    {
                      dopClass: '--vert-mirror',
                      img: 'static/img/serv-ico4.png',
                      title: 'Для детей',
                      data: '<ul><li>Просторный и чистый игровой зал</li><li>Двухэтажный лабиринт 3х5 метров</li><li>Метровая рогатка «Кошки-Мышки» с игрушками ручной работы (по мотивам Angry Birds)</li><li>Виг-вам, каталки, прыгуны и много других игрушек на радость вашим непоседам!</li></ul>'
                    },
                    {
                      dopClass: '--vert-mirror',
                      img: 'static/img/serv-ico5.png',
                      title: 'Для вас',
                      data: '<ul><li>Уютная обеденная зона</li><li>Wi-fi и отборные книги для родителей</li><li>Ароматный чай за счёт заведения (в планах также поставить кофейный торговый автомат)</li><li>Чайник и микроволновка (да, мы совершенно не против, если вы принесёте с собой что-то перекусить).</li></ul>'
                    }
                  ])

          .container.container--min
            .text
              h2 Стоимость посещения
              table
                tr
                  td
                    span.color-blue 30 минут

                  td
                    span.color-blue 390 руб.

                tr
                  td
                    span.color-green 1 час

                  td
                    span.color-green 150 руб.

                tr
                  td 
                    span.color-red Безлимит на 1 день для 1 ребёнка
                  td 
                    span.color-red 350 руб.

                tr
                  td Групповые посещения
                  td Обсудим индивидуально — обращайтесь

              p(style="margin-top: -15px;") 
                span.color-green Специальная скидка 10%
                |  – если один взрослый приходит с 2 и более детьми (если два взрослых, то скидка действует при сопровождении 3 и более детей).

          +b('section').nice.--home
            +e.decor
              +e('span').decor-item.--el7
              +e('span').decor-item.--el8
              +e('span').decor-item.--el9
              +e('span').decor-item.--el10
              +e('span').decor-item.--el11
              +e('span').decor-item.--el12

            .container
              +e.row
                +e.info
                  +e('h2').title.title Будьте, как дома,<br> и мы ответим вам домашним уютом!
                  +e.text Одна из главных задач для нас – это чистота в игровой комнате. Но в одиночку нам не справиться. Поэтому всех наших гостей, больших и маленьких, мы просим первым делом мыть ручки, когда вы приходите к нам в «Землянику». Это поможет нам быть ещё лучше, а вам, наверняка, будет приятно знать, что и другие посетители комнаты поступили так же. Согласны? – Тогда добро пожаловать!
                  
                +e.decor-overimg
                  +e('img')(src="static/img/wood/home.png" alt="").decor-img
            
          .container.container--min
            .text
              h2 Мы ждём вас каждый будний день

              p(style="font-size: 18px;")
                b.color-green ПН-ПТ 11:00 — 20:00
              
              p P.s. В выходные не приглашаем, поскольку они почти всегда заняты частными мероприятиями. Также заранее приносим извинения, но в редких случаях можем закрыться на день рождения и в будни, о чём обязательно сообщим в новостях на сайте и в 
                a(href="#") группе ВКонтакте
                | . Кстати, обязательно подписывайтесь, чтобы не пропустить интересные акции и розыгрыши!

            include includes/__feedback

      include includes/__footer
      


