include includes/bemto/bemto.pug
include includes/__mixins.pug

doctype html
html(lang="ru")
  - var title = "Типовая текстовая"
  include includes/__head

  body
    .wrapper.wrapper--inside
      include includes/__header
        
      main.main
        .container.container--min

          +breads([
            { name: 'Главная' }
          ])

          h1.main__title Здесь будет большой заголовок первого уровня возможно в две строки

          .text
            p С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же новая модель организационной деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации.
            
            figure
              img(src="static/img/wis-img.jpg" alt="")

            p Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа дальнейших направлений развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.
            
            h2 Здесь будет большой заголовок второго уровня возможно в две строки
            
            p Не следует, однако забывать, что сложившаяся структура организации играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянный количественный рост и сфера нашей активности требуют от нас анализа направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности требуют от нас анализа модели развития.
            
            ul
              li 2-этажный лабиринт 3 х 5 метров с горкой и батутом
              li Рогатка «Кошки-Мышки» по мотивам Angry Birds. Только у нас!
                ul
                  li 2-этажный лабиринт 3 х 5 метров с горкой и батутом
                  li Рогатка «Кошки-Мышки» по мотивам Angry Birds. Только у нас!
                  li Много других игрушек, в том числе, ручной работы
                  li Столовая зона, комфортно вмещающая 14 взрослых
                  li «Фуршетный» столик для детей
                  li Микроволновка, чайник, кулер и холодильник для вкусного тортика
              li Много других игрушек, в том числе, ручной работы
                ol
                  li 2-этажный лабиринт 3 х 5 метров с горкой и батутом
                  li Рогатка «Кошки-Мышки» по мотивам Angry Birds. Только у нас!
                  li Много других игрушек, в том числе, ручной работы
                  li Столовая зона, комфортно вмещающая 14 взрослых
                  li «Фуршетный» столик для детей
                  li Микроволновка, чайник, кулер и холодильник для вкусного тортика
              li Столовая зона, комфортно вмещающая 14 взрослых
              li «Фуршетный» столик для детей
              li Микроволновка, чайник, кулер и холодильник для вкусного тортика
            
            p Разнообразный и богатый опыт новая модель организационной деятельности требуют определения и уточнения форм развития. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.

            ol
              li 2-этажный лабиринт 3 х 5 метров с горкой и батутом
              li Рогатка «Кошки-Мышки» по мотивам Angry Birds. Только у нас!
                ul
                  li 2-этажный лабиринт 3 х 5 метров с горкой и батутом
                  li Рогатка «Кошки-Мышки» по мотивам Angry Birds. Только у нас!
                  li Много других игрушек, в том числе, ручной работы
                  li Столовая зона, комфортно вмещающая 14 взрослых
                  li «Фуршетный» столик для детей
                  li Микроволновка, чайник, кулер и холодильник для вкусного тортика
              li Много других игрушек, в том числе, ручной работы
                ol
                  li 2-этажный лабиринт 3 х 5 метров с горкой и батутом
                  li Рогатка «Кошки-Мышки» по мотивам Angry Birds. Только у нас!
                  li Много других игрушек, в том числе, ручной работы
                  li Столовая зона, комфортно вмещающая 14 взрослых
                  li «Фуршетный» столик для детей
                  li Микроволновка, чайник, кулер и холодильник для вкусного тортика
              li Столовая зона, комфортно вмещающая 14 взрослых
              li «Фуршетный» столик для детей
              li Микроволновка, чайник, кулер и холодильник для вкусного тортика

            h3 Здесь возможно будет большой заголовок третьего уровня возможно в две строки

            p Реализация намеченных плановых заданий играет важную роль в формировании новых предложений. Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития.
            
            table
              tbody
                tr
                  th Название
                  th Стоимость

                tr
                  td Аренда игровой
                  td 1100 руб./час в будни и 1 600 руб./час в выходные и праздники
                
                tr
                  td Программа детского аниматора
                  td 800 руб. за 40 минут
                  
                tr
                  td Аквагрим
                  td 1000 руб. до 10 детей (свыше 10 +100/чел.)

                tr
                  td Профессиональная фотосъёмка *
                  td 1500 руб./час (не менее 200 кадров) и 1 200 руб./час 
                    p(style="font-size: 13px; line-height: 20px; color: 999;") * при согласии на использование фото в портфолио фотографа и для рекламы игровой комнаты

                tr
                  td Шарики гелиевые 30см
                  td 45 руб./шт.

      include includes/__footer
