include includes/bemto/bemto.pug
include includes/__mixins.pug

doctype html
html(lang="ru")
  - var title = "Наши новости"
  include includes/__head

  body
    .wrapper.wrapper--inside
      include includes/__header

      main.main
        .main__content
          .container.container--min

            +breads([
              { name: 'Главная' }
            ])

            h1.main__title Наши новости

            +b('section').inews.--page
              +e.row
                +e('article').item
                  +e.item-top
                    +e('time').item-date 01.11
                      span 2018
                    +e('a')(href="#").item-title 
                      span В Копейске появится новая игровая комната
                  +e('p').item-descr Дорогие мамы, папы, бабушки и дедушки! В недалёком будущем в Копейске появится новая детская игровая комната. Мы уже заказали лабиринт с батутом, нашли помещение в самом центре города, и сейчас бдительно следим за ходом его ремонта. 

                +e('article').item
                  +e.item-top
                    +e('time').item-date 15.11
                      span 2018
                    +e('a')(href="#").item-title 
                      span Каким будет наш лабиринт
                  +e('p').item-descr Мы, конечно, очень хотели сделать как можно больше наполнения для нашей игровой из натуральных материалов и ручной работы, но как же без лабиринта, горки и батута!

                +e('article').item
                  +e.item-top
                    +e('time').item-date 01.11
                      span 2018
                    +e('a')(href="#").item-title 
                      span В Копейске появится новая игровая комната
                  +e('p').item-descr Дорогие мамы, папы, бабушки и дедушки! В недалёком будущем в Копейске появится новая детская игровая комната. Мы уже заказали лабиринт с батутом, нашли помещение в самом центре города, и сейчас бдительно следим за ходом его ремонта. 

                +e('article').item
                  +e.item-top
                    +e('time').item-date 15.11
                      span 2018
                    +e('a')(href="#").item-title 
                      span Каким будет наш лабиринт
                  +e('p').item-descr Мы, конечно, очень хотели сделать как можно больше наполнения для нашей игровой из натуральных материалов и ручной работы, но как же без лабиринта, горки и батута!

                +e('article').item
                  +e.item-top
                    +e('time').item-date 01.11
                      span 2018
                    +e('a')(href="#").item-title 
                      span В Копейске появится новая игровая комната
                  +e('p').item-descr Дорогие мамы, папы, бабушки и дедушки! В недалёком будущем в Копейске появится новая детская игровая комната. Мы уже заказали лабиринт с батутом, нашли помещение в самом центре города, и сейчас бдительно следим за ходом его ремонта. 

                +e('article').item
                  +e.item-top
                    +e('time').item-date 15.11
                      span 2018
                    +e('a')(href="#").item-title 
                      span Каким будет наш лабиринт
                  +e('p').item-descr Мы, конечно, очень хотели сделать как можно больше наполнения для нашей игровой из натуральных материалов и ручной работы, но как же без лабиринта, горки и батута!

              +e('a')(href="#").more-btn.btn.--circle.js-more-news-ajax Смотреть больше новостей

      include includes/__footer

