include includes/bemto/bemto.pug
include includes/__mixins.pug

doctype html
html(lang="ru")
  - var title = "Улуги - День рождения в «Землянике»"
  include includes/__head

  body
    .wrapper.wrapper--inside
      +b.decor.js-decor
        +e('span')(data-maxRound="10").item.--n6
        +e('span')(data-maxRound="16").item.--n7

      include includes/__header

      main.main
        .main__content
          .container.container--min

            +breads([
              { name: 'Главная' }
            ])

            h1.main__title День рождения в «Землянике»

            .text
              p Дорогие родители! Если вы хотите отметить день рождения вашего ребёнка в чистой уютной обстановке, с лабиринтом, горкой, батутом и игрушками, да так, чтобы не пришлось полдня прибираться после яркого и весёлого праздника, отмечаемого у себя дома – добро пожаловать к нам!

          +b('section').services.--offer
            .container
              +e.wrap.js-scroll-anim
                +e.row
                  +services-item([
                    {
                      img: 'static/img/serv-ico.png',
                      title: 'Мини',
                      data: '<ul><li>Аренда игровой комнаты на 2 часа</li><li>Развлекательная программа с аниматором на 40 минут</li></ul>',
                      price: {
                        number: '4000',
                        color: '--yellow'
                      },
                    },
                    {
                      img: 'static/img/serv-ico2.png',
                      title: 'Оптима',
                      data: '<ul><li>Аренда игровой комнаты на 2 часа</li><li>Развлекательная программа с аниматором на 40 минут</li><li>10 гелиевых шаров</li></ul>',
                      price: {
                        number: '5000',
                        old: '6050',
                        color: '--green'
                      }
                    },
                    {
                      img: 'static/img/serv-ico3.png',
                      title: 'All inclusive',
                      data: '<ul><li>Аренда игровой комнаты на 2 часа</li><li>Развлекательная программа с аниматором на 40 минут</li><li>10 гелиевых шаров</li><li>Аквагрим (до 10 детей)</li><li>Фотограф на 60 минут</li></ul>',
                      price: {
                        number: '7000',
                        old: '8550',
                        color: '--red'
                      }
                    }
                  ])

              +e.sale.js-scroll-anim
                +e('p').sale-text Скидка 1000 рублей на любой День рождения в будни
                +e('span').sale-decor

          +b('section').nice.--hero.js-scroll-anim
            +e.decor
              +e('span').decor-item.--el1
              +e('span').decor-item.--el2
              +e('span').decor-item.--el3
              +e('span').decor-item.--el4
              +e('span').decor-item.--el5
              +e('span').decor-item.--el6

            .container
              +e.row
                +e.info
                  +e('h2').title.title Выберите конкурсную программу <br>и героя анимации
                  +e('a')(href="#").btn.btn.--circle Выбрать
                  
                +e.decor-overimg
                  +e('img')(src="static/img/clouds/hero.png" alt="").decor-img

          .container.container--min
            +b.price-table
              +e.top
                +e('button')(type="button").btn-toggle.js-btn-toggle-table
                +e.title Прайс на отдельные услуги
              +e.content
                .text
                  table
                    tbody
                      tr
                        td Аренда игровой
                        td 1100 руб./час в будни и 1 600 руб./час в выходные и праздники
                      tr
                        td Программа детского аниматора
                        td 800 руб. за 40 минут
                      tr
                        td Аквагрим
                        td 1000 руб. до 10 детей (свыше 10 +100/чел.)
                      tr
                        td Профессиональная фотосъёмка *
                        td 1500 руб./час (не менее 200 кадров) и 1 200 руб./час
                          p(style="font-size: 13px; line-height: 20px; color: 999;") * при согласии на использование фото в портфолио фотографа и для рекламы игровой комнаты
                      tr
                        td Шарики гелиевые 30см
                        td 45 руб./шт.

            +b.info.js-scroll-anim
              +e.wrap
                +e('h3').title Что у нас есть?
                +e.content
                  .text
                    ul
                      li 2-этажный лабиринт 3 х 5 метров с горкой и батутом
                      li Рогатка «Кошки-Мышки» по мотивам Angry Birds. Только у нас!
                      li Много других игрушек, в том числе, ручной работы
                      li Столовая зона, комфортно вмещающая 14 взрослых
                      li «Фуршетный» столик для детей
                      li Микроволновка, чайник, кулер и холодильник для вкусного тортика

            +b.info.js-scroll-anim
              +e.wrap
                +e('h3').title Что взять с собой?
                +e.content
                  .text
                    ul
                      li Любую еду и напитки вы можете принести из дома или заказать
                      li Не забудьте одноразовую посуду, если готовите угощения дома
                      li Все мы знаем, как много сейчас разных шоу-программ, и, как правило, реализуют их отдельные специализированные компании – просто предупредите нас и приглашайте любых артистов и шоу, мы не возражаем
                      li И, конечно, только с вас – веселые гости и нарядный бодрый именинник!

            .common-wrap.js-scroll-anim
              .text
                p Само собой, друзья, вся игровая комната – только ваша. Никаких посторонних. А ещё мы, правда, очень следим за чистотой. Уборку в комнате мы делаем перед каждым праздником и ни за что не забудем повесить в туалетной комнате свежие полотенца для больших и маленьких ручек. А потому и вас заранее просим соблюдать наши несложные правила – мыть руки себе и деткам, придя с улицы, а также стараться не выносить угощения за пределы кухни. Это поможет нам быть ещё лучше, а вам, наверняка, будет приятно знать, что и предыдущие гости брали наши игрушки только чистыми ручками! 

                p И последнее. Чем раньше вы к нам обратитесь, тем больше вероятность, что самое удобное для вас время будет ещё свободно. Поэтому – пишите, звоните, спрашивайте, бронируйте дату. Мы ждём вас и рады стараться ради улыбок ваших малышей!

            include includes/__feedback

      include includes/__footer

