include includes/bemto/bemto.pug
include includes/__mixins.pug

doctype html
html(lang="ru")
  - var title = "Типовая текстовая"
  include includes/__head

  body
    .wrapper.wrapper--inside
      include includes/__header
        
      main.main
        .container.container--min

          +breads([
            { name: 'Главная' },
            { name: 'Наши новости' }
          ])

          h1.main__title В Копейске появится новая игровая комната

          +b.publ
            +e('time').date 01.11
              span 2018

            .text
              figure
                img(src="static/img/wis-img2.jpg" alt="")

              p Дорогие мамы, папы, бабушки и дедушки! В недалёком будущем в Копейске появится новая детская игровая комната. Мы уже заказали лабиринт с батутом, нашли помещение в самом центре города, и сейчас бдительно следим за ходом его ремонта.

              p Сразу скажем: регулярные ежедневные и периодические генеральные уборки – один из главных наших принципов. Потому что мы сами – родители.

              p Мы сделаем всё, чтобы у копейчан было уютное, интересное место, где можно отметить детский день рождения и просто приятно провести время с ребёнком. А чтобы досуг не бил по карману, предложим посещать комнату в будни от 30 минут и разработаем несколько вариантов для празднования дней рождений.

              p Ремонт предстоит серьезный, поэтому точную дату открытия мы пока не можем назвать. Присоединяйтесь к нашей 
                a(href="#") группе ВКонтакте
                |  и следите за новостями на сайте!

          +e('a')(href="#").main__back-href.btn.--circle Назад к списку новостей

      include includes/__footer
