.ihead
  height 100vh
  min-height 700px
  position relative
  padding 165px 0 113px
  background-color #f3f8ff
  z-index 2

  .decor
    position absolute
    left 0
    top 0
    width 100%
    z-index 0

  @media $desktopMax
    padding 148px 0 68px

  @media $tLandscapeMax
    height auto
    min-height auto
    padding-top 140px
    padding-bottom 100px

  &:after
    @extend .after
    left 0
    bottom 0
    width 100%
    height 131px
    background url('../../../../static/img/wave.png') no-repeat center
    background-size cover
    z-index -1

    @media $desktopMax
      height 68px

  &:before
    content 'Земляника'
    display block
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    text-shadow 0 0 37.6px rgba(0, 0, 0, 0.04)
    color #f3f8ff
    font-family Fregat
    font-size 280px
    font-weight 400
    margin-top -90px
    z-index -1

    @media $desktopMax
      font-size 230px
      margin-top 0

    @media $tLandscapeMax
      font-size 160px

    @media $mLandscapeMax
      font-size 80px
      top 225px
      transform translate(-50%, 0)

  .container
    position relative
    height 100%

  &__row
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center

  &__info
    width calc(50% - 9px)
    padding-right 100px
    margin-top -13px

    @media $desktopMax
      margin-top -38px

    @media $tLandscapeMax
      margin-top 0
      padding-right 0

    @media $tPortraitMax
      width 100%

  &__title
    position relative
    color #333
    font-size 36px
    font-weight 700
    line-height 48px
    text-transform uppercase
    padding-bottom 17px
    margin-bottom 34px

    @media $desktopMax
      font-size 30px
      line-height 36px
      padding-bottom 20px
      margin-bottom 36px

    &:before
      @extend .before
      left 0
      bottom 0
      width 40px
      height 4px
      background url('../../../../static/img/svg/flood.svg') no-repeat center
      background-size cover

  &__text
    color rgba(#333, .86)
    font-size 15px
    font-weight 400
    line-height 24px

    @media $desktopMax
      font-size 14px
      line-height 22px

    p + p
      margin-top 24px

  &__overimg
    width calc(50% - 9px)
    padding 12px 11px 0 14px

    @media $desktopMax
      max-width 484px
      padding 0
      margin-right 40px

    @media $tLandscapeMax
      width calc(50% - 45px)
      margin 0 0 0 45px

    @media $tPortraitMax
      margin 50px auto 0

    @media $mLandscapeMax
      width 100%

    span
      display block
      width 100%
      padding-top 92%
      background-position center
      background-size cover

      @media $tLandscapeMax
        max-width calc(100% - 50px)
        padding-top 81%

      @media $mLandscapeMax
        max-width 100%
        padding-top 92%
