.info
  position relative
  margin-top 80px

  &.start-animate
    opacity 1
    top 0

  opacity 0
  top 70px
  transition opacity .5s, top .5s

  & + &
    margin-top 112px

    @media $desktopMax
      margin-top 93px

  & +.common-wrap,
  & +.text
    margin-top 107px

    @media $desktopMax
      margin-top 89px

  &__wrap
    max-width 565px
    margin 0 auto

    @media $desktopMax
      max-width 432px

  &__title
    position relative
    font-size 24px
    line-height 30px
    padding-bottom 17px
    margin 0 0 48px
    font-weight 700
    text-transform uppercase
    text-align center

    @media $tPortraitMax
      margin-bottom 30px

    &:before
      @extend .before
      left 50%
      transform translateX(-50%)
      bottom 0
      width 40px
      height 4px
      background url('../../../../static/img/svg/flood.svg') no-repeat center
      background-size cover

  &__content
    margin-top 40px

    .text > ul
      margin-top 0
      margin-left 0
